datasets==2.12.0
torch==2.1.2
GitPython==3.1.40
jsonlines==4.0.0
nltk==3.8.1
rouge_score==0.1.2
sacrebleu==1.4.14
tabulate==0.8.10
tqdm==4.65.0
transformers==4.37.2
evaluate==0.4.1
wavedrom==2.0.3.post3
huggingface_hub==0.20.3
librosa==0.10.1
scikit_learn==1.2.2
matplotlib
edge_tts
asyncio
pydub
suno-bark
openai-whisper
